html {
	color: white;
	background-color: rgb(22, 5, 41);
	font-family: 'Courier New';
	overflow: hidden;
}
body {
	padding: 0;
	margin: 0;
}
input[type=checkbox], label {
	cursor: pointer;
}
input[type=range] {
	width: 100%;
}
#canvas {
	display: block;
	position: absolute;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
}
#canvas-div {
	position: relative;
}
#controls-div {
	vertical-align: top;
	background-color: rgb(58, 3, 80);
	overflow: auto;
}
#controls {
	padding: 1em;
}
.control-group {
	position: relative;
	max-width: 12em;
}
.control {
	padding: 0.2em;
}
#lightcontrol {
	width:  12em;
	height: 12em;
	background-color: rgb(58, 3, 80);
	outline: 1px solid white;
	outline-offset: -1px;
}
#lightcontrol-label {
	position: absolute;
	top: 0.2em;
	left: 0.2em;
	pointer-events: none;
}
#shininess-label {
	float: left;
}
#shininess-value {
	float: right;
	text-align: right;
	width: 4em;
}

#border-thickness-label {
	float: left;
}
#border-thickness-value {
	float: right;
	text-align: right;
	width: 4em;
}

#cel-shading-label {
	float: left;
}
#cel-shading-value {
	float: right;
	text-align: right;
	width: 4em;
}

#transparency-label {
	float: left;
}
#transparency-value {
	float: right;
	text-align: right;
	width: 4em;
}

#pencil-intensity-label {
	float: left;
}
#pencil-intensity-value {
	float: right;
	text-align: right;
	width: 4em;
}


@media (orientation: landscape) {
	#canvas-div {
		display: inline-block;
		width:  calc(100% - 14em);
		height: 100%;
	}
	#controls-div {
		display: inline-block;
		width:   14em;
		height: 100%;
	}
	.control-group {
		margin-top: 1em;
		overflow: hidden;
	}
	#texture-img {
		width: 100%;
		height: auto;
	}
}
@media (orientation: portrait) {
	#canvas-div {
		width:  100%;
		height: calc(100% - 14em);
	}
	#controls-div {
		width:  100%;
		height: 14em;
	}
	.control-group {
		display: inline-block;
		vertical-align: top;
		margin-left: 2em;
	}
	#texture-img {
		width: auto;
		height: calc( 100% - 2em );
	}
}

button {
    display: block;
    margin: 20px auto;
    background: salmon;
    color: white;
    border: 0;
    padding: 6px 10px;
    cursor: pointer;
}
 
button:hover {
    background: palevioletred;
    transition: all 0.2s;
}
 
.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 700px;
    background: rgb(22, 5, 41);
    margin: 10% auto;
    padding: 20px;
    position: relative;
}
 
.popup a {
    background: salmon;
    color: rgb(22, 5, 41);
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}
 
.popup a:hover {
    background: palevioletred;
    transition: all 0.2s;
}
 
.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}

.menu2 {
	display:none
}